<div>
    {{! Token Rotation}}
    <div class="row">
        <div class="column angle-text">
            <div class="form-group flex">
                <label
                    for="settings.token.rotation.offset"
                    data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.token.rotation-offset.hint"}}"
                >
                    {{localize "pf2e-rpg-numbers.menu.actor-settings.token.rotation-offset.name"}}
                </label>
                {{numberInput settings.rotation.offset name="settings.token.rotation.offset" step=1 min=0 max=360}}
            </div>
        </div>
        <div class="column angle-model">
            <div id="angle-image-container">
                <img id="angle-image" src="{{settings.tokenImg}}" />
                <canvas id="angle-canvas"></canvas>
            </div>
        </div>
    </div>

    {{! Dodge Type }}
    <div class="form-group">
        <label
            for="settings.token.dodgeOnMiss.type"
            data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.token.dodge-on-miss.type.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.menu.actor-settings.token.dodge-on-miss.type.name"}}
            <sup data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.notes.requires-jb2a-premium.hint"}}">
                <i>
                    {{localize "pf2e-rpg-numbers.module-settings.notes.requires-jb2a-premium.name"}}
                </i>
            </sup>
        </label>
        <select name="settings.token.dodgeOnMiss.type">
            {{selectOptions settings.dodgeOnMiss.choices.type selected=settings.dodgeOnMiss.type localize=true}}
        </select>
    </div>
</div>