<h5>
    <div class="row">
        <div class="column" data-tooltip="">
            {{#if default}}
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.headers.default"}}
                <i class="fa-solid fa-explosion"></i>
            {{/if}}
            {{#if strikes}}
                {{localize "PF2E.StrikesLabel"}}
                <i class="fa-solid fa-sword"></i>
            {{/if}}
            {{#if checks}}
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.headers.checks"}}
                <i class="fa-solid fa-hand"></i>
            {{/if}}
            {{#if saves}}
                {{localize "PF2E.SavesHeader"}}
                <i class="fa-solid fa-heart-pulse"></i>
            {{/if}}
        </div>
        <div
            class="column crit-test"
            data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.tooltip.test"}}"
        >
            <button id="critical-test-{{type}}-{{section}}" data-type="{{type}}" data-section="{{section}}">
                <i class="fa-solid fa-vial"></i>
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.buttons.test"}}
            </button>
        </div>
    </div>
</h5>

{{! Enabled }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.enabled"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.enabled.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.enabled.name"}}
    </label>
    <select name="settings.critical.{{type}}.{{section}}.enabled">
        {{selectOptions settings.choices.enabled selected=data.enabled localize=true}}
    </select>
</div>

{{! Type }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.type"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.type.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.type.name"}}
    </label>
    <select name="settings.critical.{{type}}.{{section}}.type">
        {{selectOptions settings.choices.type selected=data.type localize=true}}
    </select>
</div>

{{! Art }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.art"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.art.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.art.name"}}
    </label>
    <file-picker name="settings.critical.{{type}}.{{section}}.art" type="imagevideo" value="{{data.art}}"></file-picker>
</div>
{{! Color }}
<!--
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.color"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.color.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.color.name"}}
    </label>
    <color-picker name="settings.critical.{{type}}.{{section}}.color" id="settings.critical.{{type}}.{{section}}.color" value="{{data.color}}" ></color-picker>
    <input type="hidden" name="settings.critical.{{type}}.{{section}}.color" id="settings.critical.{{type}}.{{section}}.color" value="{{data.color}}">
</div> -->

{{! Offset}}
<div class="row">
    <div class="column">
        <div class="form-group">
            <label
                for="settings.critical.{{type}}.{{section}}.offset.x"
                data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.offset-x.hint"}}"
            >
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.offset-x.name"}}
            </label>
            {{numberInput
                data.offset.x
                name=(concat "settings.critical." type "." section ".offset.x")
                step=1
                min=-100
                max=100
            }}
        </div>
    </div>
    <div class="column">
        <div class="form-group">
            <label
                for="settings.critical.{{type}}.{{section}}.offset.y"
                data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.offset-y.hint"}}"
            >
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.offset-y.name"}}
            </label>
            {{numberInput
                data.offset.y
                name=(concat "settings.critical." type "." section ".offset.y")
                step=1
                min=-100
                max=100
            }}
        </div>
    </div>
</div>

{{! Rotation }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.rotation"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.rotation.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.rotation.name"}}
    </label>
    <range-picker
        name="settings.critical.{{type}}.{{section}}.rotation"
        value="{{data.rotation}}"
        min="0"
        max="360"
        step="1"
    ></range-picker>
</div>

<div class="row">
    <div class="column">
        {{! Scale }}
        <div class="form-group">
            <label
                for="settings.critical.{{type}}.{{section}}.scale"
                data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.scale.hint"}}"
            >
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.scale.name"}}
            </label>
            {{numberInput data.scale name=(concat "settings.critical." type "." section ".scale") step=0.05 min=0 max=5}}
        </div>
    </div>
    <div class="column">
        {{! Duration }}
        <div class="form-group">
            <label
                for="settings.critical.{{type}}.{{section}}.duration"
                data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.duration.hint"}}"
            >
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.duration.name"}}
            </label>
            {{numberInput data.duration name=(concat "settings.critical." type "." section ".duration") step=0.05 min=0 max=400}}
        </div>
    </div>
</div>

{{! Image Delay }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.imagedelay"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.imagedelay.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.imagedelay.name"}}
    </label>
    {{numberInput data.imagedelay name=(concat "settings.critical." type "." section ".imagedelay") step=0.05 min=0 max=5}}
</div>

{{! SFX }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.sfx"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.sfx.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.sfx.name"}}
    </label>
    <file-picker name="settings.critical.{{type}}.{{section}}.sfx" type="audio" value="{{data.sfx}}"></file-picker>
</div>

{{! Volume }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.volume"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.volume.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.volume.name"}}
    </label>
    <range-picker
        name="settings.critical.{{type}}.{{section}}.volume"
        value="{{data.volume}}"
        min="0"
        max="200"
        step="5"
    ></range-picker>
</div>