<h3>
    <div class="row">
        <div class="column" data-tooltip="">
            {{#if default}}
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.headers.default"}}
                <i class="fa-solid fa-explosion"></i>
            {{/if}}
            {{#if strikes}}
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.headers.strikes"}}
                <i class="fa-solid fa-sword"></i>
            {{/if}}
            {{#if checks}}
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.headers.checks"}}
                <i class="fa-solid fa-hand"></i>
            {{/if}}
            {{#if saves}}
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.headers.saves"}}
                <i class="fa-solid fa-heart-pulse"></i>
            {{/if}}
        </div>
        <div
            class="column crit-test"
            data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.tooltip.test"}}"
        >
            <button id="critical-test-{{type}}-{{section}}" data-type="{{type}}" data-section="{{section}}">
                <i class="fa-solid fa-vial"></i>
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.buttons.test"}}
            </button>
        </div>
    </div>
</h3>

{{! Enabled }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.enabled"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.enabled.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.enabled.name"}}
    </label>
    <select name="settings.critical.{{type}}.{{section}}.enabled">
        {{selectOptions settings.choices.enabled selected=data.enabled}}
    </select>
</div>

{{! Type }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.type"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.type.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.type.name"}}
    </label>
    <select name="settings.critical.{{type}}.{{section}}.type">
        {{selectOptions settings.choices.type selected=data.type}}
    </select>
</div>

{{! Art }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.art"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.art.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.art.name"}}
    </label>
    <input
        type="text"
        id="settings.critical.{{type}}.{{section}}.art"
        name="settings.critical.{{type}}.{{section}}.art"
        value="{{data.art}}"
    />
    <button
        type="button"
        class="file-picker"
        data-type="imagevideo"
        data-target="settings.critical.{{type}}.{{section}}.art"
        title="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.art.name"}}"
        tabindex="-1"
    >
        <i class="fas fa-file-import fa-fw"></i>
    </button>
</div>
{{! Color }}
<!--
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.color"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.color.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.color.name"}}
    </label>
    <color-picker name="settings.critical.{{type}}.{{section}}.color" id="settings.critical.{{type}}.{{section}}.color" value="{{data.color}}" ></color-picker>
    <input type="hidden" name="settings.critical.{{type}}.{{section}}.color" id="settings.critical.{{type}}.{{section}}.color" value="{{data.color}}">
</div> -->

{{! Offset}}
<div class="row">
    <div class="column">
        <div class="form-group">
            <label
                for="settings.critical.{{type}}.{{section}}.offset.x"
                data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.offset-x.hint"}}"
            >
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.offset-x.name"}}
            </label>
            {{numberInput
                data.offset.x
                name=(concat "settings.critical." type "." section ".offset.x")
                step=1
                min=-100
                max=100
            }}
        </div>
    </div>
    <div class="column">
        <div class="form-group">
            <label
                for="settings.critical.{{type}}.{{section}}.offset.y"
                data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.offset-y.hint"}}"
            >
                {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.offset-y.name"}}
            </label>
            {{numberInput
                data.offset.y
                name=(concat "settings.critical." type "." section ".offset.y")
                step=1
                min=-100
                max=100
            }}
        </div>
    </div>
</div>

{{! Rotation }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.rotation"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.rotation.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.rotation.name"}}
    </label>
    {{rangePicker
        value=data.rotation
        name=(concat "settings.critical." type "." section ".rotation")
        step=1
        min=0
        max=360
    }}
</div>

{{! Scale }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.scale"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.scale.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.scale.name"}}
    </label>
    {{numberInput data.scale name=(concat "settings.critical." type "." section ".scale") step=0.05 min=0 max=5}}
</div>

{{! SFX }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.sfx"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.sfx.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.sfx.name"}}
    </label>
    <input
        type="text"
        id="settings.critical.{{type}}.{{section}}.sfx"
        name="settings.critical.{{type}}.{{section}}.sfx"
        value="{{data.sfx}}"
    />
    <button
        type="button"
        class="file-picker"
        data-type="audio"
        data-target="settings.critical.{{type}}.{{section}}.sfx"
        title="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.sfx.name"}}"
        tabindex="-1"
    >
        <i class="fas fa-file-import fa-fw"></i>
    </button>
</div>

{{! Volume }}
<div class="form-group">
    <label
        for="settings.critical.{{type}}.{{section}}.volume"
        data-tooltip="{{localize "pf2e-rpg-numbers.menu.actor-settings.critical.volume.hint"}}"
    >
        {{localize "pf2e-rpg-numbers.menu.actor-settings.critical.volume.name"}}
    </label>
    {{rangePicker value=data.volume name=(concat "settings.critical." type "." section ".volume") step=5 min=0 max=200}}
</div>