<div>
    <section
        class='tab home {{tabs.home.cssClass}}'
        data-group='primary'
        data-tab='home'
        >
        {{> 'modules/pf2e-rpg-numbers/templates/settings/tabs/home.hbs' tabs.home version=version}}
    </section>
    <section
        class='tab rolls {{tabs.rolls.cssClass}}'
        data-group='primary'
        data-tab='rolls'
        >
        {{> 'modules/pf2e-rpg-numbers/templates/settings/tabs/rolls.hbs' tabs.rolls}}
    </section>
    <section
        class='tab token {{tabs.token.cssClass}}'
        data-group='primary'
        data-tab='token'
        >
        {{> 'modules/pf2e-rpg-numbers/templates/settings/tabs/token.hbs' tabs.token}}
    </section>
    <section
        class='tab critical {{tabs.critical.cssClass}}'
        data-group='primary'
        data-tab='critical'
        >
        {{> 'modules/pf2e-rpg-numbers/templates/settings/tabs/critical.hbs' tabs.critical}}
    </section>
    <section
        class='tab text {{tabs.text.cssClass}}'
        data-group='primary'
        data-tab='text'
        >
        {{> 'modules/pf2e-rpg-numbers/templates/settings/tabs/text.hbs' tabs.text}}
    </section>
</div>