<form>
    <nav class="tabs" data-group="primary-tabs">
        {{#each tabs}}
        <a class="item" data-tab="{{id}}"><i class="fas {{icon}}"></i>
            {{label}}
        </a>
        {{/each}}
    </nav>

    <b>Fixed header</b><br>
    {{header}}
    <hr>

    <section class="content">
        {{#each tabs as |tab|}}
        <div class="tab" data-tab="{{tab.id}}" data-group="primary-tabs">
            Fixed content for tab {{tab.title}}<br>
            {{#if home}}
                {{> 'modules/pf2e-rpg-numbers/templates/settings-tabs/main-tab.hbs' this}}
            {{/if}}
        </div>
        {{/each}}
    </section>

    <hr>
    <b>Fixed header</b><br>
    {{header}}
    <hr>
    Fixed content<br>
    {{{content}}}
    <hr>
    Fixed <em>footer</em><br>
    {{footer}}
    <button>Save</button>
    <button>Submit</button>
    <button>Cancel</button>
</form>