<span>
    {{! Enabled }}
    <div class="form-group">
        <label for="settings.enabled" data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.enabled.hint"}}">
            {{localize "pf2e-rpg-numbers.module-settings.enabled.name"}}
        </label>
        <input type="checkbox" id="settings.enabled" name="settings.enabled" {{checked settings.enabled}} />
    </div>
    {{! Actor Settings button Enabled for Players}}
    <div class="form-group">
        <label
            for="settings.actor-settings.player-enabled"
            data-tooltip-direction="LEFT"
            data-tooltip="{{
                localize "
            pf2e-rpg-numbers.module-settings.actor-settings.player-enabled.hint"
            }}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.actor-settings.player-enabled.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.actor-settings.player-enabled"
            name="settings.actor-settings.player-enabled"
            {{checked settings.actor-settings.player-enabled}}
        />
    </div>
    <div class="row">
        <div class="column">
            <button id="pf2e-rpg-import">
                <i class="fas fa-file-import"></i>
                {{localize "pf2e-rpg-numbers.menu.settings.buttons.import"}}
            </button>
        </div>
        <div class="column">
            <button id="pf2e-rpg-export">
                <i class="fas fa-file-export"></i>
                {{localize "pf2e-rpg-numbers.menu.settings.buttons.export"}}
            </button>
        </div>
    </div>
    <hr />
    <div>
        <fieldset>
            <h3>
                Table of Contents
            </h3>
            <ul>
                <li>
                    {{localize "pf2e-rpg-numbers.menu.settings.tabs.rolls"}}
                    <ul>
                        <li>
                            <span
                                class="toc-link"
                                data-tab="rolls"
                                data-target="dmg-numbers"
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/damage-numbers.gif' />"
                                {{! TODO add this to every other element of the ToC }}
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.dmg-numbers"}}
                                <i class="fa-solid fa-swords"></i>
                            </span>
                        </li>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/check-text.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.check-animations.title"}}
                                <i class="fa-regular fa-dice-d20"></i>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    {{localize "pf2e-rpg-numbers.menu.settings.tabs.token"}}
                    <ul>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/burst-burrow.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.burst-burrow"}}
                                <i class="fa-solid fa-shovel"></i>
                            </span>
                        </li>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/rotate-on-attack.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.rotate-on-attack"}}
                                <i class="fa-solid fa-rotate-right"></i>
                            </span>
                        </li>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/shake-on-attack.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.shake-on-attack"}}
                                <i class="fa-solid fa-salt-shaker"></i>
                            </span>
                        </li>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/shake-on-damaged.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.screen-shake"}}
                                <i class="fa-solid fa-house-crack"></i>
                            </span>
                        </li>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/dodge-on-miss.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.dodge-on-miss"}}
                                <i class="fa-solid fa-transporter-3"></i>
                            </span>
                        </li>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/damage-shake.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.token-dmg-shake.title"}}
                                <i class="fa-duotone fa-solid fa-left-right"></i>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    {{localize "pf2e-rpg-numbers.menu.settings.tabs.critical"}}
                    <ul>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/crit-fire-emblem-awakening.gif' /><img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/crit-persona-5.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.critical"}}
                                <i class="fa-solid fa-explosion"></i>
                            </span>
                        </li>
                    </ul>
                </li>
                <li>
                    {{localize "pf2e-rpg-numbers.menu.settings.tabs.text"}}
                    <ul>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/finishing-move.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.finishing-move.title"}}
                                <i class="fa-regular fa-message"></i>
                            </span>
                        </li>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/from-soft-elden-ring-noun-verbed.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.fromSoftware.title"}}
                                -
                                {{localize
                                    "pf2e-rpg-numbers.module-settings.headers.fromSoftware.elden-ring.noun-verbed"
                                }}
                                <i class="fa-solid fa-award"></i>
                            </span>
                        </li>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/from-soft-elden-ring-death.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.fromSoftware.title"}}
                                -
                                {{localize "pf2e-rpg-numbers.module-settings.headers.fromSoftware.elden-ring.death"}}
                                <i class="fa-duotone fa-solid fa-tombstone"></i>
                            </span>
                        </li>
                        <li>
                            <span
                                data-tooltip-direction="LEFT"
                                data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/versus.gif' />"
                            >
                                {{localize "pf2e-rpg-numbers.module-settings.headers.versus"}}
                                <i class="fa-regular fa-swords"></i>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </fieldset>
    </div>
    <div>
        <sub>
            <i>
                <b>
                    Version:
                </b>
                {{version}}
            </i>
        </sub>
    </div>
</span>