<span>
    {{! Burst/Burrow }}
    <h4>
        <span
            data-tooltip-direction="LEFT"
            data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/burst-burrow.gif' />"
        >
            {{localize "pf2e-rpg-numbers.module-settings.headers.burst-burrow"}}
            <i class="fa-solid fa-shovel"></i>
        </span>
        <sup
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.notes.requires-jb2a-premium.hint"}}"
        >
            <i>
                {{localize "pf2e-rpg-numbers.module-settings.notes.requires-jb2a-premium.name"}}
            </i>
        </sup>
    </h4>
    {{! Enabled }}
    <div class="form-group">
        <label
            for="settings.burstBurrow.enabled"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.burst-burrow.enabled.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.burst-burrow.enabled.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.burstBurrow.enabled"
            name="settings.burstBurrow.enabled"
            {{checked settings.burstBurrow.enabled}}
        />
    </div>
    {{! Enable Burrow Animation }}
    <div class="form-group">
        <label
            for="settings.burstBurrow.burrowAnimation.enabled"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.burst-burrow.burrow-anim.enabled.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.burst-burrow.burrow-anim.enabled.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.burstBurrow.burrowAnimation.enabled"
            name="settings.burstBurrow.burrowAnimation.enabled"
            {{checked settings.burstBurrow.enabled}}
        />
    </div>
    {{! Burrow Animation Depth }}
    <div class="form-group">
        <label
            for="settings.burstBurrow.burrowAnimation.depth"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.burst-burrow.burrow-anim.depth.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.burst-burrow.burrow-anim.depth.name"}}
        </label>
        {{numberInput
            settings.burstBurrow.burrowAnimation.depth.value
            name="settings.burstBurrow.burrowAnimation.depth"
            step=settings.burstBurrow.burrowAnimation.depth.range.step
            min=settings.burstBurrow.burrowAnimation.depth.range.min
            max=settings.burstBurrow.burrowAnimation.depth.range.max
        }}
    </div>
    {{! Duration }}
    <div class="form-group">
        <label
            for="settings.burstBurrow.duration"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.burst-burrow.duration.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.burst-burrow.duration.name"}}
        </label>
        {{numberInput
            settings.burstBurrow.duration.value
            name="settings.burstBurrow.duration"
            step=settings.burstBurrow.duration.range.step
            min=settings.burstBurrow.duration.range.min
            max=settings.burstBurrow.duration.range.max
        }}
    </div>
    {{! Persistent }}
    <div class="form-group">
        <label
            for="settings.burstBurrow.persistent"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.burst-burrow.persistent.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.burst-burrow.persistent.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.burstBurrow.persistent"
            name="settings.burstBurrow.persistent"
            {{checked settings.burstBurrow.persistent}}
        />
    </div>
    {{! Size Multiplier }}
    <div class="form-group">
        <label
            for="settings.burstBurrow.sizeMultiplier"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.burst-burrow.size-multiplier.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.burst-burrow.size-multiplier.name"}}
        </label>
        {{numberInput
            settings.burstBurrow.sizeMultiplier.value
            name="settings.burstBurrow.sizeMultiplier"
            step=settings.burstBurrow.sizeMultiplier.range.step
            min=settings.burstBurrow.sizeMultiplier.range.min
            max=settings.burstBurrow.sizeMultiplier.range.max
        }}
    </div>
    {{! Ignore Burrow Speed }}
    <div class="form-group">
        <label
            for="settings.burstBurrow.ignoreSpeed"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.burst-burrow.ignore-speed.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.burst-burrow.ignore-speed.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.burstBurrow.ignoreSpeed"
            name="settings.burstBurrow.ignoreSpeed"
            {{checked settings.burstBurrow.ignoreSpeed}}
        />
    </div>
</span>

<span>
    {{! Rotate on Attack }}
    <h4
        data-tooltip-direction="LEFT"
        data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/rotate-on-attack.gif' />"
    >
        {{localize "pf2e-rpg-numbers.module-settings.headers.rotate-on-attack"}}
        <i class="fa-solid fa-rotate-right"></i>
    </h4>
    {{! Enabled }}
    <div class="form-group">
        <label
            for="settings.rotateOnAttack.enabled"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.rotate-on-attack.enabled.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.rotate-on-attack.enabled.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.rotateOnAttack.enabled"
            name="settings.rotateOnAttack.enabled"
            {{checked settings.rotateOnAttack.enabled}}
        />
    </div>
    {{! Duration }}
    <div class="form-group">
        <label
            for="settings.rotateOnAttack.duration"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.rotate-on-attack.duration.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.rotate-on-attack.duration.name"}}
        </label>
        {{numberInput
            settings.rotateOnAttack.duration.value
            name="settings.rotateOnAttack.duration"
            step=settings.rotateOnAttack.duration.range.step
            min=settings.rotateOnAttack.duration.range.min
            max=settings.rotateOnAttack.duration.range.max
        }}
    </div>
    {{! Scale on Size }}
    <div class="form-group">
        <label
            for="settings.rotateOnAttack.scaleOnSize"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.rotate-on-attack.scale-on-size.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.rotate-on-attack.scale-on-size.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.rotateOnAttack.scaleOnSize"
            name="settings.rotateOnAttack.scaleOnSize"
            {{checked settings.rotateOnAttack.scaleOnSize}}
        />
    </div>
    {{! Default Rotation }}
    <div class="form-group">
        <label
            for="settings.rotateOnAttack.defaultRotation"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.rotate-on-attack.default-rotation.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.rotate-on-attack.default-rotation.name"}}
        </label>
        {{numberInput
            settings.rotateOnAttack.defaultRotation.value
            name="settings.rotateOnAttack.defaultRotation"
            step=settings.rotateOnAttack.defaultRotation.range.step
            min=settings.rotateOnAttack.defaultRotation.range.min
            max=settings.rotateOnAttack.defaultRotation.range.max
        }}
    </div>
</span>
<span>
    {{! Shake on Attack }}
    <h4
        data-tooltip-direction="LEFT"
        data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/shake-on-attack.gif' />"
    >
        {{localize "pf2e-rpg-numbers.module-settings.headers.shake-on-attack"}}
        <i class="fa-solid fa-salt-shaker"></i>
    </h4>
    {{! Enabled }}
    <div class="form-group">
        <label
            for="settings.screenShake.onAttack.enabled"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.shake-on-attack.enabled.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.shake-on-attack.enabled.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.screenShake.onAttack.enabled"
            name="settings.screenShake.onAttack.enabled"
            {{checked settings.screenShake.onAttack.enabled}}
        />
    </div>
    {{! Show For }}
    <div class="form-group">
        <label
            for="settings.screenShake.onAttack.showFor"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.shake-on-attack.type.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.shake-on-attack.type.name"}}
        </label>
        <select id="settings.screenShake.onAttack.showFor" name="settings.screenShake.onAttack.showFor">
            {{selectOptions
                settings.screenShake.onAttack.showFor.choices
                selected=settings.screenShake.onAttack.showFor.value
                localize=true
            }}
        </select>
    </div>
</span>
<span>
    {{! Shake on Damaged }}
    <h4
        data-tooltip-direction="LEFT"
        data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/shake-on-damaged.gif' />"
    >
        {{localize "pf2e-rpg-numbers.module-settings.headers.screen-shake"}}
        <i class="fa-solid fa-house-crack"></i>
    </h4>
    {{! Enabled }}
    <div class="form-group">
        <label
            for="settings.screenShake.onDamaged.enabled"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.screen-shake.enabled.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.screen-shake.enabled.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.screenShake.onDamaged.enabled"
            name="settings.screenShake.onDamaged.enabled"
            {{checked settings.screenShake.onDamaged.enabled}}
        />
    </div>
    {{! Duration }}
    <div class="form-group">
        <label
            for="settings.screenShake.onDamaged.duration"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.screen-shake.duration.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.screen-shake.duration.name"}}
        </label>
        {{numberInput
            settings.screenShake.onDamaged.duration.value
            name="settings.screenShake.onDamaged.duration"
            step=settings.screenShake.onDamaged.duration.range.step
            min=settings.screenShake.onDamaged.duration.range.min
            max=settings.screenShake.onDamaged.duration.range.max
        }}
    </div>
    {{! Max Intensity }}
    <div class="form-group">
        <label
            for="settings.screenShake.onDamaged.maxIntensity"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.screen-shake.intensity-max.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.screen-shake.intensity-max.name"}}
        </label>
        {{numberInput
            settings.screenShake.onDamaged.maxIntensity.value
            name="settings.screenShake.onDamaged.maxIntensity"
            step=settings.screenShake.onDamaged.maxIntensity.range.step
            min=settings.screenShake.onDamaged.maxIntensity.range.min
            max=settings.screenShake.onDamaged.maxIntensity.range.max
        }}
    </div>
    {{! Intensity Scaling }}
    <div class="form-group">
        <label
            for="settings.screenShake.onDamaged.intensityScaling"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.screen-shake.intensity-type.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.screen-shake.intensity-type.name"}}
        </label>
        <select
            id="settings.screenShake.onDamaged.intensityScaling"
            name="settings.screenShake.onDamaged.intensityScaling"
        >
            {{selectOptions
                settings.screenShake.onDamaged.intensityScaling.choices
                selected=settings.screenShake.onDamaged.intensityScaling.value
                localize=true
            }}
        </select>
    </div>
    {{! Intensity Scaling Includes Temp HP }}
    <div class="form-group">
        <label
            for="settings.screenShake.onDamaged.intensityScalingIncludeTempHP"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.screen-shake.intensity-include-temp-hp.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.screen-shake.intensity-include-temp-hp.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.screenShake.onDamaged.intensityScalingIncludeTempHP"
            name="settings.screenShake.onDamaged.intensityScalingIncludeTempHP"
            {{checked settings.screenShake.onDamaged.intensityScalingIncludeTempHP}}
        />
    </div>
    {{! Shake for GM }}
    <div class="form-group">
        <label
            for="settings.screenShake.onDamaged.shakeGM"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.screen-shake.gm-enabled.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.screen-shake.gm-enabled.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.screenShake.onDamaged.shakeGM"
            name="settings.screenShake.onDamaged.shakeGM"
            {{checked settings.screenShake.onDamaged.shakeGM}}
        />
    </div>
</span>
<span>
    {{! Target Dodges }}
    <h4
        data-tooltip-direction="LEFT"
        data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/dodge-on-miss.gif' />"
    >
        {{localize "pf2e-rpg-numbers.module-settings.headers.dodge-on-miss"}}
        <i class="fa-solid fa-transporter-3"></i>
    </h4>
    {{! Enabled }}
    <div class="form-group">
        <label
            for="settings.dodgeOnMiss.enabled"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.enabled.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.enabled.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.dodgeOnMiss.enabled"
            name="settings.dodgeOnMiss.enabled"
            {{checked settings.dodgeOnMiss.enabled}}
        />
    </div>
    {{! Duration }}
    <div class="form-group">
        <label
            for="settings.dodgeOnMiss.duration"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.duration.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.duration.name"}}
        </label>
        {{numberInput
            settings.dodgeOnMiss.duration.value
            name="settings.dodgeOnMiss.duration"
            step=settings.dodgeOnMiss.duration.range.step
            min=settings.dodgeOnMiss.duration.range.min
            max=settings.dodgeOnMiss.duration.range.max
        }}
    </div>
    {{! Distance }}
    <div class="form-group">
        <label
            for="settings.dodgeOnMiss.distance"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.distance.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.distance.name"}}
        </label>
        {{numberInput
            settings.dodgeOnMiss.distance.value
            name="settings.dodgeOnMiss.distance"
            step=settings.dodgeOnMiss.distance.range.step
            min=settings.dodgeOnMiss.distance.range.min
            max=settings.dodgeOnMiss.distance.range.max
        }}
    </div>
    {{! Delay }}
    <div class="form-group">
        <label
            for="settings.dodgeOnMiss.delay"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.delay.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.delay.name"}}
        </label>
        {{numberInput
            settings.dodgeOnMiss.delay.value
            name="settings.dodgeOnMiss.delay"
            step=settings.dodgeOnMiss.delay.range.step
            min=settings.dodgeOnMiss.delay.range.min
            max=settings.dodgeOnMiss.delay.range.max
        }}
    </div>

    {{! Type }}
    <div class="form-group">
        <label for="settings.dodgeOnMiss.type">
            <span
                data-tooltip-direction="LEFT"
                data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.type.hint"}}"
            >
                {{localize "pf2e-rpg-numbers.module-settings.dodge-on-miss.type.name"}}
            </span>
            <sup
                data-tooltip-direction="LEFT"
                data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.notes.requires-jb2a-premium.hint"}}"
            >
                <i>
                    {{localize "pf2e-rpg-numbers.module-settings.notes.requires-jb2a-premium.name"}}
                </i>
            </sup>
        </label>
        <select name="settings.dodgeOnMiss.type">
            {{selectOptions settings.dodgeOnMiss.type.choices selected=settings.dodgeOnMiss.type.value localize=true}}
        </select>
    </div>
</span>
<span>
    {{! Token Shake }}
    <h4
        data-tooltip-direction="LEFT"
        data-tooltip="<img src='https://raw.githubusercontent.com/ChasarooniZ/pf2e-rpg-numbers/refs/heads/main/assets/feature-vids/damage-shake.gif' />"
    >
        {{localize "pf2e-rpg-numbers.module-settings.headers.token-dmg-shake.title"}}
        <i class="fa-duotone fa-solid fa-left-right"></i>
    </h4>
    {{! Enabled }}
    <div class="form-group">
        <label
            for="settings.tokenShake.enabled"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.enabled.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.enabled.name"}}
        </label>
        <input
            type="checkbox"
            id="settings.tokenShake.enabled"
            name="settings.tokenShake.enabled"
            {{checked settings.tokenShake.enabled}}
        />
    </div>
    {{! Distance }}
    <div class="form-group">
        <label
            for="settings.tokenShake.distance"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.distance.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.distance.name"}}
        </label>
        {{numberInput
            settings.tokenShake.distance.value
            name="settings.tokenShake.distance"
            step=settings.tokenShake.distance.range.step
            min=settings.tokenShake.distance.range.min
            max=settings.tokenShake.distance.range.max
        }}
    </div>
    {{! Shakes }}
    <div class="form-group">
        <label
            for="settings.tokenShake.shakes"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.shakes.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.shakes.name"}}
        </label>
        {{numberInput
            settings.tokenShake.shakes.value
            name="settings.tokenShake.shakes"
            step=settings.tokenShake.shakes.range.step
            min=settings.tokenShake.shakes.range.min
            max=settings.tokenShake.shakes.range.max
        }}
    </div>
    {{! Duration }}
    <div class="form-group">
        <label
            for="settings.tokenShake.duration"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.duration.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.duration.name"}}
        </label>
        {{numberInput
            settings.tokenShake.duration.value
            name="settings.tokenShake.duration"
            step=settings.tokenShake.duration.range.step
            min=settings.tokenShake.duration.range.min
            max=settings.tokenShake.duration.range.max
        }}
    </div>
    {{! Scaling Type }}
    <div class="form-group">
        <label
            for="settings.tokenShake.scaling.type"
            data-tooltip-direction="LEFT"
            data-tooltip="{{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.scaling.type.hint"}}"
        >
            {{localize "pf2e-rpg-numbers.module-settings.token-dmg-shake.scaling.type.name"}}
        </label>
        <select id="settings.tokenShake.scaling.type" name="settings.tokenShake.scaling.type">
            {{selectOptions
                settings.tokenShake.scaling.type.choices
                selected=settings.tokenShake.scaling.type.value
                localize=true
            }}
        </select>
    </div>
</span>